<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Welcome, {{logged_in_user.first_name}}</title>
</head>
<header class="nav-header">
    <div>
        <h2>MyMovieList</h2>
    </div>
    <div class="nav-details">
        <p>
            <a href="/dashboard">Dashboard</a>
            |
            <a href="/logout">Logout</a>
        </p>
    </div>

</header>
<body>
    <main>
        <div>
            <h1>Welcome, {{logged_in_user.first_name}}!</h1>
        </div>
        <div id="top-section-dash">
            <div>
                <h2>Add A New Movie:</h2>
                <form action="/movies/processNewMovie" method="post">
                    <input type="hidden" name="current_user" value="{{current_user}}">
                    {% csrf_token %}
                    <div>
                        <label>
                            Movie Title
                            <input type="text" name="title" />
                        </label>
                    </div>
                    <div>
                        <label>
                            Release Date
                            <input type="date" name="release_date" />
                        </label>
                    </div>
                    <div>
                        <label>
                            Duration(Minutes)
                            <input type="number" name="duration" />
                        </label>
                    </div>
                    <div>
                        <label>Description</label>
                    </div>
                    <textarea name="desc" cols="30" rows="10"></textarea>
                    <div>
                        <button type="submit">Add Movie</button>
                    </div>
                </form>
            </div>
            <!-- LIST OF ALL MOVIES -->
            <div id="movie-list">
                <h2>All Movies</h2>
                <ul>
                    {% for movie in all_movies %}
                        <li><a href="/movie_info/{{movie.id}}">{{movie.title}}</a></li>
                        <li>{{movie.added_by.first_name}} {{movie.added_by.last_name}}</li>
                        <li>{{movie.desc}}</li>
                        {% if this_movie.added_by.id == request.session.user_id %}
                            <li><a href="/add_to_favorites/{{movie.id}}/{{current_user.id}}">Add to Favorites</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
</body>
</html>