<!DOCTYPE html>
<html lang="en" id="home-html">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>MyMovieList</title>
</head>
<header id="home-header">
    <div id="header-left-side">

        <h1>MyMovieList</h1>
    </div>


    <!-- ******** MEMBER LOGIN ******** -->
    <div id="member-login">
        <h4>Member Login</h4>
        <form action="/login" method="post">
            {% csrf_token %}
            <div>
                <div>
                    <label class="form-label">
                        <input type="text" placeholder="Username" name="username"/>
                    </label>
                </div>

                <div>
                    <label class="form-label">
                        <input type="password" placeholder="Password" name="password"/>
                    </label>
                </div>
                <div>
                    <button type="submit" >Log In</button>
                </div>
            </div>
        </form>
        <div>
            <!-- ERROR MESSAGES IF ANY -->
            {% if messages %}
            <ul class="login-errors">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <!-- *********** -->
        </div>
    </div>
</header>
<body id="home-body">
    <main>

        <div id="top-section-home">
            <!-- ******** SITE DESCRIPTION ******** -->
            <div id="site-desc-home">
                <h2>Welcome to MyMovieList</h2>
                <p>
                    The site provides its users with a list-like system to organize and score movies and television shows. It facilitates finding users who share similar tastes and provides a large database of movies and television shows, added by community members and admins alike.
                </p>
                <p>
                    Members of the community can discover new movies or shows by filtering by genre, ranking, rating, or more. As new features become available, you will be able to customize and rank your personalized lists of movies to share with friends and add to your personal blog!
                </p>
                <p>
                    We welcome you and hope you enjoy!
                </p>
            </div>

            <!-- ******** REGISTRATION FORM ******** -->
            <div id="register-panel">
                <h2>Register</h2>
                <form action="/process_registration" method="post">
                    {% csrf_token %}

                    <!-- FIRST ROW IN REGISTRATION -->
                    <div class="regisration-row">
                        <div>
                            <label class="form-label">
                                First Name
                                <input type="text" name="first_name"/>
                            </label>
                        </div>
                        <div>
                            <label class="form-label">
                                Last Name
                                <input type="text" name="last_name"/>
                            </label>
                        </div>
                    </div>
                    <!-- SECOND ROW IN REGISTRATION -->
                    <div class="regisration-row">
                        <div>
                            <label class="form-label">
                                Email
                                <input type="text" name="email"/>
                            </label>
                        </div>
                        <div>
                            <label class="form-label">
                                Username
                                <input type="text" name="username"/>
                            </label>
                        </div>
                    </div>
                    <!-- THIRD ROW IN REGISTRATION -->
                    <div class="regisration-row">
                        <div>
                            <label class="form-label">
                                Password
                                <input type="password" name="password"/>
                            </label>
                        </div>
                        <div>
                            <label class="form-label">
                                Confirm Password
                                <input type="password" name="confirm_password"/>
                            </label>
                        </div>
                    </div>
                    <!-- REGISTRATION BUTTON -->
                    <div>
                        <button type="submit">Register</button>
                    </div>

                </form>

                    <!-- ERROR MESSAGES IF ANY -->
                    {% if messages %}
                    <ul class="error-messages">    
                        {% for message in messages %}    
                            <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <!-- *********** -->

            </div>
        </div>

        <div class="slider-body">
            <div class="slider">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">

                    <div class="slide-first">
                        <img src="" alt="">
                    </div>
                    <div class="slide">
                        <img src="" alt="">
                    </div>
                    <div class="slide">
                        <img src="" alt="">
                    </div>
                    <div class="slide">
                        <img src="" alt="">
                    </div>

                    <!-- AUTOMATIC NAVIGATION START -->
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                    <!-- AUTOMATIC NAVIGATION END -->
                </div>
                <!-- MANUTAL NAVIATION START -->
                <div class="navigaton-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
                <!-- MANUTAL NAVIGATION END -->
            </div>
        </div>

        <footer>
            <p>
                <a href="">Home</a>
                |
                <a href="">About</a>
                |
                <a href="">Privacy Policy</a>
            </p>
        
        </footer>
    </main>

</body>

</html>